.book-card-detailed {
  margin: 10px auto;
  margin-top: 15vh;
  max-width: 1200px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#book-detail-card-image {
  grid-area: cover;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#book-detail-card-image:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

#book-detailed-card-rating-count {
  grid-area: rating;
  display: flex;
  justify-content: center;
}

#book-detail-card-borrowedUntil-borrowed {
  grid-area: borrowed;
  background-color: coral;
  color: black;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#book-detail-card-borrowedUntil-return {
  grid-area: borrowed;
  background-color: blue;
  color: white;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

#book-detail-card-borrowedUntil-available {
  margin: 0 auto;
  width: 280px;
  grid-area: borrowed;
  background-color: chartreuse;
  color: black;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}

/* #book-detail-card-borrowedUntil-borrowed:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
} */

#book-detail-card-borrowedUntil-available:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

#book-detail-card-borrowedUntil-return:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

#book-detail-card-title {
  grid-area: title;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-width: 100%;
  font-size: 25px;
  line-height: 25px;
  height: 30px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 2rem;
}

#book-detail-card-author {
  grid-area: author;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-width: 100%;
  /* height: 43px;
  margin: 4px; */
  font-size: 20px;
  /* line-height: 20px;
  height: 20px; */
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

.props-carousel-container {
  /* width: 630px; */
  height: 140px !important;
  padding-bottom: 35px;
}

#book-detail-props-carousel {
  grid-area: props;
  display: inline-flex;
}

.props-card {
  /* display: grid; */
  /* margin: 0 auto; */
  /* grid-template-columns: auto;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: 
    'image'
    'title'
    'rating'
  ; */
  display: grid;
  justify-items: center;
  /* align-content: center; */
  /* display: block; */
  /* justify-content: center; */
  width: 150px;
  height: 90px;
  border: 1px solid gainsboro;
  border-radius: 3%;
  margin-left: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.props-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

#prop-card-title {
  font-size: 15px;
}

#prop-card-property {
  font-size: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-width: 100%;
  height: 15px;
  font-size: 15px;
  line-height: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#book-detail-card-date-published {
}
#book-detail-card-isbn {
}
#book-detail-card-genre {
}
#book-detail-card-age-recommendation #book-detail-card-language {
}
#book-detail-card-pages {
}
#book-detail-card-summary {
  grid-area: summary;
  display: block;
  border: solid 1px rgb(199, 199, 199);
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical; */
  /* max-width: 100%; */
  /* height: 100px; */
  margin: 4px;
  font-size: 16px;
  /* line-height: 16px; */
  /* height: 96px; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
}
#book-detail-card-summary:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
#book-detail-card-review-count {
  line-height: 17px;
  font-size: 13px;
  font-weight: bold;
  padding-top: 9px;
  padding-left: 8px;
}
#book-detail-props-carousel {
  margin-top: 2rem;
  display: block;
  padding: 5px;
  padding-bottom: 15px;
}
#prop-card-icon {
  height: 25px;
}
#book-card-detailed-view {
}
#show-more-button {
  background-color: transparent;
  border-color: transparent;
}

#show-less-button {
  background-color: transparent;
  border-color: transparent;
}
.react-multiple-carousel_arrow {
  background-color: blue !important;
}

@media (max-width: 500px) {
  .book-card-detailed {
    grid-template-areas:
      "cover"
      "title"
      "author"
      "rating"
      "props"
      "summary"
      "borrowed";
  }
}

@media only screen and (min-width: 900px) {
  .book-card-detailed {
    max-width: 90%;
    margin-top: 15vh;
    display: grid;
    border-radius: 5px;
    padding: 15px;
    padding-bottom: 3rem;
    grid-template-columns: minmax(150px, 35%) 30% 30%;
    grid-template-rows: 10% 10% 20%;
    grid-template-areas:
        "cover title title"
        "cover author author"
        "cover props props"
        "cover summary summary"
        "rating summary summary"
        "borrowed summary summary";
    grid-gap: 2.5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  }

  #book-detail-props-carousel {
    margin-top: initial;
  }
}

@media only screen and (min-width: 1050px) {
  .book-card-detailed {
    margin: 12vh;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    max-width: 1100px;
  }

  #book-detail-props-carousel .react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
    position: sticky;
    right: 0;
  }
  #book-detail-props-carousel .react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
    position: fixed;
    left: 0;
    right: 0;
    margin-left: 40vw;
  }
}


