.outer::-webkit-scrollbar {
  display: none;
}

.outer {
  padding-top: 2vh;
  min-height: 92vh;
  background-size: cover;
  position: fixed;
  width: 100vw;
  height: 92vh;
  overflow-y: scroll;
}

.card {
  padding-top: 1.25rem;
  background: #4241408f;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
  color: #ffffff;
}

.col-12 {
  margin-bottom: 2vh;
}

.form-control {
  background-color: #ffffffa2;
  color: #343a40;
  height: calc(1.5em + 1.5rem + 2px);
  border: 0.05rem solid #ffffff;
}

.form-control:focus {
  border-color: #24b943;
  background-color: #fff;
  border-color: #006416;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(231 255 148 / 25%);
}

.account-settings .user-profile {
  padding-bottom: 1rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
}

.user-avatar {
  background-size: cover !important;
  width: 10rem;
  height: 10rem;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.account-settings .user-profile .user-avatar {
    margin: 0 auto 1.25rem auto;
}

.account-settings .user-profile .user-avatar img {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

button a {
  color: #ffffff;
}

button a:hover {
  color: #ffffff;
  text-decoration: initial;
}

.about .form-group {
  margin-left: auto;
  margin-right: auto;
}

.profile .form-group, .change-password .form-group {
  margin-left: initial;
  margin-right: initial;
}

@media (min-width: 992px) {
  .col-lg-9 {
    flex: 0 0 70%;
    max-width: 70%;
  }
  .col-lg-3 {
    flex: 0 0 30%;
    max-width: 30%;
  }
  .outer {
    padding-top: 10vh;
  }
}
