.book-cover {
  width: 5rem;
  margin: 0 1rem 0 0;
  vertical-align: top;
  padding-bottom: 1rem;
}

img.ban-image {
  height: 5rem;
  margin: 0 1rem 0 0;
  vertical-align: top;
}

.vertical-timeline-element--points .vertical-timeline-element-content {
  max-height: 4rem;
}

.vertical-timeline-element-content {
  box-shadow: initial;
}


.timeline-element-info {
  display: inline-block;
  min-width: 11.5rem;
  max-width: 32vw;
}

.vertical-timeline-element-event {
  margin-bottom: 1rem;
}

.vertical-timeline-element-title,
.vertical-timeline-element-subtitle,
.star-ratings {
  margin-bottom:0.5rem;
}

.vertical-timeline {
  max-width: 600px;
}

span.vertical-timeline-element-icon {
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
}

@media only screen and (min-width: 440px) {
  .book-cover, .ban-img {
    padding-bottom: initial;
  }
}

@media only screen and (min-width: 600px) {
  .book-cover, .ban-img {
    width: 7rem;
    margin: 0 1rem;
  }
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline.vertical-timeline--two-columns {
    width: 95%;
  }
}

@media only screen and (min-width: 1200px) {
  .vertical-timeline.vertical-timeline--two-columns {
    width: 90%;
  }
}

